name: Demo workflow
run-name: Demo workflow
on: [push]

jobs:
  my-workflow:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout git repo
      uses: actions/checkout@v4.1.5
    - name: Setup Node.js environment
      uses: actions/setup-node@v4.0.2
      with:
        node-version: 20.x
    - name: Install dependencies
      run: npm ci
